@use './var.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--el-font-family);
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  height: var(--el-header-height);
  border-radius: var(--el-border-radius-base);
  box-shadow: var(--el-box-shadow-light);
}